.content-repInfo{
    position: relative;
    height: 100vh;
}
.repInfo-head{
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px;
}
.rep-octocat{
    position: absolute!important;
    bottom: 0;
    margin-right: 10px;
}
.rep-balloon{
    max-width: 800px;
    margin: 8px 8px 8px 95px !important;
    font-size: 0.8rem;
}
.rep-list-content{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    height: 75vh;
    overflow: hidden;
}
.rep-list{
    transition: margin-top 1s;
    margin-top: 50px;
}
.list-item{
    padding: 3px;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.rep-statistics{
    position: absolute!important;
    text-align: start!important;
    left: 25%;
    top: 55%;
    font-size: 1.3rem;
}
.contributions-rep{
    margin-top: 3rem;
}

@media (max-width: 1000px){
    .repInfo-head{
        padding: 0;
    }
    .rep-list-content{
        font-size: 1rem;
    }
    .rep-balloon{
        flex: 1;
    }
    .list-item{
        width: 80vw;
        padding: 0;
    }
}