

body {
  margin: 0;
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: 'Press Start 2P';
  -moz-osx-font-smoothing: 'Press Start 2P';
}

code {
  font-family: 'Press Start 2P';
}

p{
  margin: 0;
}