

body {
  margin: 0;
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: 'Press Start 2P';
  -moz-osx-font-smoothing: 'Press Start 2P';
  background: url(./assets/star-bg.svg);
  background-color: rgb(90, 90, 90)!important;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: 'Press Start 2P';
}

p{
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(217, 217, 217);
}

::-webkit-scrollbar-thumb:hover {
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(159, 159, 159);
}